* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

body {
    background-color: #212121;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.title h2 {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.045em;
    font-weight: 700;
    color: #FFFFFF;

}

.own-navbar {
    width: 35px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.own-navbar span {
    width: 100%;
    height: 1.5px;
    background-color: white;
}

.header {
    padding: 37px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 90px;
}

.header__logo a {
    display: block;
}

.header__logo img {
    height: 49px;
}

.header__menu {
    padding-left: 70px;
    padding-right: 100px;
    width: 100%;
}

.header__menu ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__menu ul li a {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: 400;

}

.header__links {
    display: flex;
    margin-left: auto;
}

.header__links a {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.header__links a:first-child {
    margin-left: 0;
}

.header__links a span {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
    position: relative;
    white-space: nowrap;
}

.header__links a span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    height: 1px;
    background-color: #DC2625;
}

.header__links a i {
    display: flex;
    font-size: 18px;
    margin-right: 10px;
    color: #DC2625;

}

/* discount */

.discount {
    padding-top: 7px;
}

.discount__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 167px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;

}

.discount__item::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 54.6%, rgba(0, 0, 0, 0) 125.27%);
    z-index: -1;
}

.discount__item h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.discount__item p {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 0;
    width: 350px;
}

.discount__item p span {
    font-size: 36px;
    line-height: 24px;
    color: #DC2625;
    display: inline-block;
    transform: translateY(7px);

}

.discount__item>span {
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;

}

.discount__wrapper a {
    display: block;
}




.discount .row>div:nth-child(odd) .discount__item {
    padding: 15px 0 15px 100px;
    align-items: flex-start;
}

.discount .row>div:nth-child(odd) .discount__item p {
    text-align: left;
}

.discount .row>div:nth-child(even) .discount__item {
    padding: 15px 100px 15px 0px;
    align-items: flex-end;
}

.discount .row>div:nth-child(even) .discount__item p {
    text-align: right;
}

/* course */
.courses {
    padding-top: 60px;


}

.courses__header {
    margin-bottom: 30px;
}

.courses a {
    display: block;
}

.course__item {
    position: relative;
    height: 480px;
    border-radius: 16px;
    overflow: hidden;

}

.course__item video,
.course__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;

}

.course__item video {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.course__item img {
    z-index: 2;
    transition: all 0.4s ease-in-out;
}

.course__item:hover video {
    visibility: visible;
    opacity: 1;
}

.course__item:hover img {
    opacity: 0;
    visibility: hidden;
}

.course__item__info {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
}

.course__item__info h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.course__item__info span {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.045em;
    text-decoration-line: underline;
    color: #FFFFFF;
}