* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f51c;
    border-radius: 0px !important;
}

body::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    background-color: #E42528;
}

a,
a:hover {
    text-decoration: none;
}

body {
    background-color: #212121;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.title {

    padding-bottom: 50px;
}

.title h2 {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.045em;
    font-weight: 700;
    color: #FFFFFF;

}

.header__navbar i {
    cursor: pointer;
}

.header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding: 37px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 90px;
}

.header__logo a {
    display: block;
}

.header__logo img {
    height: 49px;
}

.header__menu {
    padding-left: 70px;
    padding-right: 100px;
    width: 100%;
}

.header__menu ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__menu ul li a {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: 400;

}

.header__links {
    display: flex;
    margin-left: auto;
}

.header__links a {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.header__links a:first-child {
    margin-left: 0;
}

.header__links a span {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
    position: relative;
    white-space: nowrap;
}

.header__links a span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    height: 1px;
    background-color: #DC2625;
}

.header__links a i {
    display: flex;
    font-size: 18px;
    margin-right: 10px;
    color: #DC2625;

}

/* discount */

.discount {
    padding-top: 130px;
}

.discount__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 167px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;

}

.discount__item::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 54.6%, rgba(0, 0, 0, 0) 125.27%);
    z-index: -1;
}

.discount__item h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.discount__item p {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 0;
    width: 350px;
}

.discount__item p span {
    font-size: 36px;
    line-height: 24px;
    color: #DC2625;
    display: inline-block;
    transform: translateY(7px);

}

.discount__item>span {
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;

}

.discount__wrapper a {
    display: block;
}




.discount .row>div:nth-child(odd) .discount__item {
    padding: 15px 0 15px 100px;
    align-items: flex-start;
}

.discount .row>div:nth-child(odd) .discount__item p {
    text-align: left;
}

.discount .row>div:nth-child(even) .discount__item {
    padding: 15px 100px 15px 0px;
    align-items: flex-end;
}

.discount .row>div:nth-child(even) .discount__item p {
    text-align: right;
}

/* course */
.courses {
    padding-top: 60px;


}

.courses__header {
    margin-bottom: 30px;
}

.courses a {
    display: block;
}

.course__item {
    position: relative;
    height: 480px;
    border-radius: 16px;
    overflow: hidden;

}

.course__item video,
.course__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;

}

.course__item video {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.course__item img {
    z-index: 2;
    transition: all 0.4s ease-in-out;
}

.course__item:hover video {
    visibility: visible;
    opacity: 1;
}

.course__item:hover img {
    opacity: 0;
    visibility: hidden;
}

.course__item__info {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
}

.course__item__info h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.course__item__info span {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.045em;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px 0;
}

.about__item {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
    max-width: 370px;
}

.about__item img {
    margin-bottom: 55px;
    height: 102px;
}

.about__item p {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 0;
    color: white;
}

.about__item:hover {
    opacity: 1;
}

.teachers {
    padding-top: 140px;
}

.teachers__item__image {
    height: 340px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 14px;

}

.teachers__item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.teachers .swiper-button-next:after {
    content: '\e906';
    transform: translateY(-2px);
}

.teachers .swiper-button-prev:after {
    content: '\e906';
    transform: rotate(180deg) translateY(-2.25px);


}

.teachers .swiper-button-prev:after,
.teachers .swiper-button-next:after {
    color: black;
    font-size: 6px;
    font-family: 'icomoon';

}



.teachers .swiper-container {
    padding-bottom: 55px;
}

.teachers .swiper-button-next {

    right: 50%;
    transform: translateX(calc(100% + 8px));
}

.teachers .swiper-button-prev {

    left: 50%;
    transform: translateX(calc(-100% - 8px));


}

.teachers .swiper-button-prev,
.teachers .swiper-button-next {
    bottom: 0;
    width: unset;
    top: unset;
    height: unset;
    width: 41px;
    height: 41px;
    background: white;
    border-radius: 50%;
}

.teachers__item h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.045em;
    margin-bottom: 3px;
    color: #FFFFFF;
    text-align: center;

}

.teachers__item h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.045em;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.teachers__header {
    margin-bottom: 70px;
}

.lifehacks {
    padding-top: 100px;
    padding-bottom: 100px;
}

.lifehacks__wrapper {
    background: #FBFAFA;
    border-radius: 40px;
    padding: 0px 100px;
    height: 500px;
    display: flex;
    justify-content: space-between;

}

.lifehacks__left {
    padding-top: 95px;
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.lifehacks__left h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.045em;
    color: #000000;

}

.lifehacks__carousel {
    background: #FBFAFA;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    margin-top: auto;
    padding: 35px;
    margin-bottom: -100px;
}

.lifehacks__carousel__item {
    display: flex;
    flex-direction: column;
    min-height: 195px;
}


.lifehacks__carousel__item__bottom {
    margin-top: auto;
}

.lifehacks__carousel__item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0;
    color: #000000;

}

.lifehacks__carousel__item__bottom__info {
    margin-left: 10px;
}

.lifehacks__carousel__item__bottom__image {
    width: 52px;
    height: 52px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.lifehacks__carousel__item__bottom__image img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.lifehacks__carousel__item__bottom {
    display: flex;
    align-items: center;
}

.lifehacks__carousel__item__bottom h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.045em;

    color: #000000;

}

.lifehacks__carousel__item__bottom h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.045em;
    color: rgba(0, 0, 0, 0.8);
}

.lifehacks .swiper-pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    left: unset;
    width: auto;
}

.lifehacks .swiper-container {
    position: relative;
}

.lifehacks .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0 0 7px;
    background: none;
    width: 8px;
    height: 8px;
    border: 1px solid #000000;
}

.lifehacks .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
    margin-left: 0;
}

.lifehacks .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000000;
}

.lifehacks__right {
    width: 310px;
    margin-right: 130px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.lifehacks__right__logo {
    width: 152px;
    height: 152px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    border-radius: 50%;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.8);
    z-index: 2;
}

.lifehacks__right__logo img {
    height: 49px;
}

.lifehacks__right ul {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    height: 312px;
    flex-wrap: wrap;
}

.lifehacks__right ul li {
    box-shadow: 0px 0px 10px rgba(122, 0, 235, 0.2);
    border-radius: 52px;
    width: 52px;
    height: 156px;
    position: relative;
}

.lifehacks__image {
    width: 52px;
    height: 52px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 2;
}

.lifehacks__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.lifehacks__right ul li::after {
    content: '';
    position: absolute;
    width: 52px;
    height: 52px;
    z-index: 1;
    border-radius: 50%;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.lifehacks__right ul li:nth-child(1) {
    background: #88A5AD;
    transform: translateY(-46px);
    transition: all 0.3s ease-in-out;
}

.lifehacks__right ul li:nth-child(2) {
    background: linear-gradient(180deg, #201F24 -43.89%, #DAD2E1 100%);
    transform: translateY(-46px);

}

.lifehacks__right ul li:nth-child(3) {
    background: #DC2625;
    transform: translateY(-48px);

}

.lifehacks__right ul li:nth-child(4) {
    background: #453C4D;
    transform: translateY(37px);

}

.lifehacks__right ul li:nth-child(5) {
    background: #9BA2A4;
    transform: translateY(-152px);
}

.lifehacks__right ul li:nth-child(6) {
    background: #587E88;
    transform: translateY(143px);
}

.lifehacks__right ul li:nth-child(7) {
    background: #DC2625;
    transform: translateY(17px);
}

.lifehacks__right ul li:nth-child(8) {
    background: #453C4D;
    transform: translateY(17px);
}



/* child1 */

@keyframes child1Image {
    0% {
        transform: translateY(200%)
    }

    100% {
        transform: translateY(-100%)
    }
}

@keyframes child1After {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(200%)
    }
}

.lifehacks__right ul li:nth-child(1) .lifehacks__image {
    transform: translateY(200%);
    animation-name: child1Image;

}

.lifehacks__right ul li:nth-child(1)::after {
    background: #4AD4F9;
    transition: all 0.3s ease-in-out;
    transform: translateY(-100%);
    animation-name: child1After;
}


/* child1 */
/* child2 */

@keyframes child2Image {

    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-200%);
    }

}

@keyframes child2After {

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(250%);
    }

}

.lifehacks__right ul li:nth-child(2) .lifehacks__image {
    bottom: 0;
    transform: translateY(50%);
    animation-name: child2Image;
}

.lifehacks__right ul li:nth-child(2)::after {
    background: #B97EF2;
    animation-name: child2After;
}

/* child2 */
/* child3 */
@keyframes child3Image {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(250%);
    }

}

@keyframes child3After {
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-200%);
    }
}

.lifehacks__right ul li:nth-child(3)::after {
    background: linear-gradient(180deg, #0C0169 -25.96%, #3CC9F0 100%);
    bottom: 0;
    transform: translateY(50%);
    animation-name: child3After;
}


.lifehacks__right ul li:nth-child(3) .lifehacks__image {
    animation-name: child3Image;
}

/* child3 */

/* child4 */
@keyframes child4After {
    0% {
        transform: translateY(100%);

    }

    100% {
        transform: translateY(-200%);
    }

}

@keyframes child4Image {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(300%);
    }

}

.lifehacks__right ul li:nth-child(4)::after {

    background: linear-gradient(180deg, #7A00EB 0%, #DC2625 100%);
    bottom: 0;
    transform: translateY(100%);
    animation-name: child4After;
}

.lifehacks__right ul li:nth-child(4) .lifehacks__image {
    animation-name: child4Image;
}

/* child4 */

/* child5 */
@keyframes child5Image {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(300%);
    }
}

@keyframes child5After {
    0% {
        transform: translateY(100%);

    }

    100% {
        transform: translateY(-200%);
    }
}

.lifehacks__right ul li:nth-child(5)::after {
    background: linear-gradient(180deg, #7A00EB 0%, #B97EF2 100%);
    bottom: 0;
    transform: translateY(100%);
    animation-name: child5After;
}

.lifehacks__right ul li:nth-child(5) .lifehacks__image {
    animation-name: child5Image;
}

/* child5 */

/* child6 */
@keyframes child6Image {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-300%);
    }
}

@keyframes child6After {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(200%);
    }
}

.lifehacks__right ul li:nth-child(6)::after {
    background: #dce35b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dce35b, #45b649);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dce35b, #45b649);
    transform: translateY(-100%);
    animation-name: child6After;
}

.lifehacks__right ul li:nth-child(6) .lifehacks__image {
    bottom: 0;
    animation-name: child6Image;

}

/* child6 */
/* child7 */
@keyframes child7After {
    0% {
        transform: translateY(-100%);

    }

    100% {
        transform: translateY(200%);
    }

}

@keyframes child7Image {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-300%);
    }
}

.lifehacks__right ul li:nth-child(7)::after {
    background: #8360c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8360c3, #2ebf91);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8360c3, #2ebf91);
    transform: translateY(-100%);
    animation-name: child7After;
}

.lifehacks__right ul li:nth-child(7) .lifehacks__image {
    bottom: 0;
    animation-name: child7Image;
}

/* child7 */
/* child8 */
@keyframes child8Image {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-200%);
    }
}

@keyframes child8After {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(300%);
    }
}


.lifehacks__right ul li:nth-child(8)::after {
    background: #8e2de2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    animation-name: child8After;
}

.lifehacks__right ul li:nth-child(8) .lifehacks__image {
    bottom: 0;
    transform: translateY(100%);
    animation-name: child8Image;
}

/* child8 */


/* ======== */
.signUp {
    padding-top: 100px;
    padding-bottom: 100px;
}


.signUp__wrapper {
    padding: 75px 0;
    position: relative;
}

.signUp__wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 73%;
    background: url('./assets/images/signUp.jpg')center center no-repeat;
    background-size: cover;
    border-radius: 0 16px 16px 0;
    z-index: -2;
}

.signUp__wrapper::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 73%;
    background: linear-gradient(90deg, #212121 0%, rgba(33, 33, 33, 0.15) 124.92%);
    z-index: -1;
}

.signUp__main {
    max-width: 850px;
    width: 100%;
    padding-top: 72px;
}

.signUp__main .row>div:nth-child(4) {
    margin-top: 88px;
    margin-bottom: 55px;
}

.signUp__main input {
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
}

.signUp__main input::placeholder {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;

}

.signUp__main button {
    line-height: 56px;
    font-size: 16px;
    color: #FBFAFA;
    font-weight: 700;
    outline: none;
    background: transparent;
    padding: 0 65px;
    border-radius: 28px;
    border: 1px solid white;
}

/*    */
.works {
    background: #FBFAFA;
    padding: 90px;
}

.works__header {
    margin-bottom: 75px;
}

.works__header.title h2 {
    color: black;

}

.works__main {

    display: flex;
    flex-wrap: wrap;
    min-height: 220px;
    align-content: space-between;
}

.works__main__image {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */

.footer {
    padding-top: 100px;
    padding-bottom: 90px;
}

.footer__header {
    padding-top: 75px;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
}

.footer__header ul {
    display: flex;
    align-items: center;
}

.footer__header ul:first-child li {
    margin-right: 140px;
}

.footer__header ul:first-child li:last-child {
    margin: 0;
}

.footer__header ul:first-child li a {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;

}

.footer__header ul:last-child li {
    margin-left: 50px;
}

.footer__header ul:last-child li:first-child {
    margin-left: 0;
}

.footer__header ul:last-child li a {
    color: white;
    font-size: 18px;
}

.footer__main {
    padding-top: 90px;
}

.footer__main__left {
    width: 425px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__main__center a,
.footer__main__left a {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    display: block;
    border-bottom: 1px dashed #FFFFFF;
}

.footer__main__left a {
    margin-bottom: 80px;
}

.footer__main__left p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #BFBFBF;

}

.footer__main__center {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer__main__center a {
    margin-bottom: 100px;
}

.footer__main__center__input {
    display: flex;
}

.footer__main__center__input input {
    background: transparent;
    border: none;
    outline: none;
    width: 390px;
    height: 54px;
    border-bottom: 1px solid white;
    margin-right: 20px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer__main__center__input input::placeholder {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFF;

}

.footer__main__center__input button {
    border: none;
    outline: none;
    background: transparent;
}

.footer__main__center__input button i {
    color: white;
    font-size: 10px;
}

.footer__main__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.footer__main__right>.place {
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    border-bottom: 1px dashed #FFFFFF;

}

.footer__main__right .prezintation {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.footer__main__right .prezintation span {
    color: #BFBFBF;
}

.footer__main__right .copy {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;


}

.footer__main__right .copy a {
    color: #DC2625;
}

.banner {

    background-image: url('./assets/images/courses-banner.jpg');
    display: flex;
    align-items: center;

}

.banner__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 740px;
    justify-content: center;
}

.banner__wrapper h1 {
    font-weight: 600;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.banner__wrapper p {
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 40px;

}

.banner__wrapper ul {
    display: flex;
    margin-bottom: 60px;
}

.banner__wrapper ul li {
    margin-right: 40px;
    transition: all 0.3s ease-in-out;
}

.banner__wrapper ul li:hover {
    margin: 0;
}

.banner__wrapper ul li a {
    display: flex;
    align-items: center;
}

.banner__wrapper ul li a span {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 8px;
    overflow: hidden;
    width: 0;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.banner__wrapper ul li a:hover span {
    width: 150px;
}

.banner__wrapper>a {
    display: block;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.04em;
    font-weight: 600;
    font-size: 15px;
    line-height: 54px;
    padding: 0 28px;
    border-radius: 27px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;

}

.future {
    padding-top: 65px;
}

.future__wrapper {
    padding: 45px 130px;
    background: #151719;
    border-radius: 16px;
    display: flex;
}


.future__right {
    max-width: 575px;
    flex: 0 0 575px;
    background: #FFFFFF;
    border-radius: 16px;
    min-height: 450px;
    padding: 30px 50px;
}

/* .future__right::after{

} */

.future__right h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
    letter-spacing: 0.045em;
    color: #000000;
    margin-bottom: 37px;

}

.future__right h3 span {
    color: #DC2625;
    font-size: 32px;
    line-height: 36px;
}

.future__right p {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;

}

.future__right p:last-child {
    margin-bottom: 0;
}

.future__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.future__left__item {
    display: flex;
    align-items: center;
    width: 430px;
}

.future__left__item img {
    height: 96px;
    margin-right: 35px;
}

.future__left__item__info h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;

}

.future__left__item__info p {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: #FFFFFF;
}

.programma {
    padding-top: 100px;
}

.programma__main__header {
    display: flex;
}

.programma button.btn {
    padding: 0;
}

.programma button.btn-info {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.programma header.card-header {
    background: transparent;
    border: none;
    padding: 0;
}

.programma div.card {
    background: transparent;
    border: none;
    border-top: 0.7px solid rgba(255, 255, 255, 0.5);
}

.programma .btn-info:not(:disabled):not(.disabled):active,
.programma .btn-info:not(:disabled):not(.disabled).active,
.programma .show>.btn-info.dropdown-toggle {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}


.programma__main__header {
    height: 120px;
    padding: 20px 0;
}

.programma div.accordion>div.card:last-child {
    border-bottom: 0.7px solid rgba(255, 255, 255, 0.5);
}

.programma__main__header__course {
    height: 100%;
    max-width: 260px;
    flex: 0 0 260px;
    padding: 0 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.7px solid rgba(255, 255, 255, 0.5);

}

.programma__main__header__course span {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.045em;
    color: #FFFFFF;

}

.programma__main__header__text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 100px 0 50px;
}

.programma__main__header__text p {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 0;

}

